* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: auto;
  font-family: "Raleway", sans-serif;
}
/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid #0babf5;
  border-top-color: #ffffff;
  animation: spinner 0.7s linear infinite;
}

@-webkit-@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------*/
/*---------------------------------------
       Header             
  -----------------------------------------*/

.header {
  overflow: hidden;
  background-color: #4bd0e7;
  padding: 10px 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.header img.logo {
  height: 100px;
  width: 100px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo1 {
  padding: 0px;
}
.header a.title1 {
  margin-top: 25px;
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {
  transform: scale(1.02);
  -webkit-transition: transform 0.2s ease-in-out;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.header-right a {
  font-size: 25px;
  margin-top: 25px;
}

/*--------------------------------------*/

/*---------------------------------------
       Search Button              
  -----------------------------------------*/

button,
input {
  font: 1em Hind, sans-serif;
  line-height: 1.5em;
}
input {
  color: #171717;
}
.search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #4bd0e7;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #4bd0e7;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  body {
    background: #171717;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}

.in {
  padding-top: 20px;
  text-align: center;
}

.mainDiv {
  color: #3d3d3d;
  width: 500px;
  height: 850px;
  background-color: #0c0c44;
  margin: 0 auto;
  border-radius: 20%;
  margin-bottom: 100px;
}

.country {
  font-size: 25px;
  font-weight: 400;
}

.weather {
  width: 100px;
  height: 100px;
}

.time {
  bottom: 0;
  position: absolute;
  text-align: center;
  margin-left: 33%;
  margin-bottom: 55px;
}

.msLeft {
  float: left;
  padding-top: 25px;
  padding-left: 30px;
}
.msLeft h3 {
  font-size: 70px;
}

.msRight {
  float: right;
  padding-top: 20px;
  padding-right: 30px;
}

.upperHalf {
  background-image: url(img/dayimg.svg);
  background-size: auto;
  height: 350px;
  background-repeat: none;
  background-color: white;
  border: 0px solid #0c0c44;
  border-top-left-radius: 13%;
  border-top-right-radius: 13%;
}
.lowerDiv {
  height: 500px;
  background: rgb(0, 255, 239);
  background: linear-gradient(
    0deg,
    #94c9ff 0%,
    #94c9ff 60%,
    #b5d3f1 80%,
    rgb(255, 255, 255) 100%
  );
}
.ss {
  padding-top: 200px;
}

.ss .firstLi {
  float: left;
  padding-left: 30px;
}
.ss .secondLi {
  float: right;
  padding-right: 30px;
}

.humidity {
  text-align: center;
}

p {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
}

.firstLi h3 {
  font-size: 40px;
}

.secondLi h3 {
  font-size: 40px;
}

.humidity {
  margin-top: 150px;
}
.humidity h3 {
  font-size: 40px;
}

.lowerDiv {
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}
.mainDiv {
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}

/*---------------------------------------
       MEDIA QUERIES            
  -----------------------------------------*/

@media screen and (max-width: 500px) {
  .header img.logo {
    height: 70px;
    width: 70px;
  }

  .header a.title1 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }

  .header a.git {
    margin-top: 15px;
    font-size: 18px;
  }

  .search-bar {
    padding-top: 10px;
  }

  .mainDiv {
    color: #3d3d3d;
    width: 100%;
    height: 850px;
    background-color: #0c0c44;
    margin: 0 auto;
    border-radius: 7%;
    margin-bottom: 50px;
    border-color: #0c0c44;
  }

  .weather {
    width: 100px;
    height: 100px;
  }

  .time {
    bottom: 0;
    position: absolute;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 55px;
  }

  .msLeft {
    float: left;
    padding-top: 25px;
    padding-left: 30px;
  }
  .msLeft h3 {
    font-size: 70px;
  }

  .msRight {
    float: right;
    padding-top: 15px;
    padding-right: 15px;
  }
  .msRight h3 {
    text-align: center;
  }

  .upperHalf {
    background-image: url(img/dayimg.svg);
    height: 350px;
    width: 100%;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    border-top-left-radius: 11%;
    border-top-right-radius: 11%;
    border-color: #0c0c44;
  }

  .lowerDiv {
    height: 500px;
    background: rgb(0, 255, 239);
    background: linear-gradient(
      0deg,
      #94c9ff 0%,
      #94c9ff 60%,
      #b5d3f1 80%,
      rgb(255, 255, 255) 100%
    );
  }

  .ss {
    padding-top: 200px;
  }

  .ss .firstLi {
    float: left;
    padding-left: 30px;
  }

  .ss .secondLi {
    float: right;
    padding-right: 15px;
  }

  .msLeft h3 {
    font-size: 50px;
    padding-top: 20px;
  }

  .msRight h3 {
    font-size: 25px;
  }

  .ss h3 {
    font-size: 30px;
  }

  .humidity h3 {
    text-align: center;
    font-size: 35px;
  }
}
